<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee@Signup</title>
</head>
<body align="center">


         <form action='signup'  method='post' modelAttribute='employee'>
          Enter Employee_ID:<input type="text" name="empId"><br/>
          Enter Employee_Name:<input type="text" name="empname"><br/>
          Enter mobile:<input type="text" name="mobile"><br/>
          Enter Employee_salary:<input type="text" name="empsal"><br/>
          Enter Employee_Designation:<input type="text" name="empdesg"><br/>
          <input type="submit"value="go">
          <input type="reset" value="clean"><br/>
          </form>
      </h3>
</body>
</html>