<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="IOS-8859-1">
<title>Jobiak.ai</title>
</head>
<body>


<h1>Test Success $%#@$</h1>

<h2 th:text="${employee.empId}" style="background-color:deeppink;"></h2>
<h2 th:text="${employee.empname}" style="background-color:greenyellow;"></h2>
<h2 th:text="${employee.mobile}" style="background-color:orange;"></h2>
<h2 th:text="${employee.empsal}" style="background-color:cyan;"></h2>
<h2 th:text="${employee.empdesg}" style="background-color:darkorchid;"></h2>

</body>
</html>